/* Responsive CSS */

@media screen and (max-width:1500px) and (min-width:1170px) { 
	.estate-inner-box .wp-block-columns{
		display: block !important;
	}
	.estate-main-box h3{
		text-align: center;
	}
}

@media screen and (max-width:1169px) and (min-width:981px) { 
	html{overflow-x:hidden; }
	.real-estate-services {
	    display: grid !important;
	    grid-template-columns: auto auto;
	}
	.real-estate-services .wp-block-image img{
		width: 100%;
	}
}

@media screen and (max-width: 980px){
	.fse-overlap-image{ position:relative !important; right:auto !important; bottom:auto !important; margin:25px 0 !important;}
	.wp-block-section-01 h2, .wp-block-section-02 h2{ font-size:28px !important; }
	.wpcf7 input[type="text"], 
	.wpcf7 input[type="tel"], 
	.wpcf7 input[type="email"], 
	.wpcf7 textarea{ 
		width:100%;
	}	
	.blog-area .wp-block-post-template{
		grid-template-columns: auto auto;
	}
	.top-header,
	.estate-inner-box h3{
		text-align: center;
	}
	.header-wrap .wp-block-group{
		justify-content: center;
	}
	.header-wrap .wp-block-social-links,
	.header-wrap nav,
	.header-wrap .wp-block-buttons,
	.header-wrap ul{
		justify-content: center;
	}
	.real-estate-services {
	    display: grid !important;
	    grid-template-columns: auto auto;
	}
}

@media screen and (max-width:767px) {
	*{box-sizing:border-box;}
	.wp-block-navigation__responsive-container.is-menu-open.has-modal-open{ padding:25px;}
	.real-estate-services {
	    display: flex !important;
	    grid-template-columns: auto auto;
	}
}

@media screen and (max-width:1550px) and (min-width:1300px) {

}

@media screen and (max-width:1250px) and (min-width:850px) {
	.columnn-1{
		flex-basis: 23% !important;
	}
	.columnn-2{
		flex-basis: 34% !important;
	}
	.columnn-3{
		flex-basis: 23% !important;
	}
	.columnn-4{
		flex-basis: 20% !important;
	}

	.columnn-1 p,.columnn-2 p,.columnn-3 p{
		font-size: 14px !important;
	}
	.columnn-4 .wp-block-social-links{
		gap: 10px !important;
	}

	.slider-head{
		font-size: 38px !important;
	}
	.banner-wrap{
		min-height: 530px !important;
	}
}

@media screen and (max-width:1300px) and (min-width:1px) {
	[class*="wp-container-core-group-is-layout-"] > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
		max-width: 90%;
	}
	.header-wrap,.main-slider .owl-stage-outer{
		max-width: 100%;
	}
}